@{
    ViewData["Title"] = "Remove Item from Cart";
}

<h2>@ViewData["Title"]</h2>

<p>The item has been removed from your cart.</p>

<ul>
    @foreach (var item in ViewBag.Items)
    {
        <li>@item</li>
    }
</ul>

<p>Total Price: $@ViewBag.TotalPrice</p>

<a href="/addtocart">Go back to Cart</a>
